<div class="page-header">
  <h1>
    Payment informations
    <a href="/payment_informations/new" class="btn btn-lg btn-success">New Payment information</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Cardholder name</th>
        <th>Card number</th>
        <th>Card type</th>
        <th>Cvv</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @payment_informations.each do |payment_information| %>
      <tr>
        <td><%= payment_information.cardholder_name %></td>
        <td><%= payment_information.card_number %></td>
        <td><%= payment_information.card_type %></td>
        <td><%= payment_information.cvv %></td>
        <td><%= payment_information.user.email %></td>
        <td>
          <a href="/payment_informations/<%= payment_information.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == payment_information.user %>
            <a href="/payment_informations/<%= payment_information.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_payment_information/<%= payment_information.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @payment_informations, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
